<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/12.12.1/firebase-app.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyBjyoJ9IXF6uRUBTRlDoh8aoSnZYF_Q0fk",
    authDomain: "bixmart-99801.firebaseapp.com",
    projectId: "bixmart-99801",
    storageBucket: "bixmart-99801.firebasestorage.app",
    messagingSenderId: "974185857340",
    appId: "1:974185857340:web:f278df4efdb1346f8f1e39"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
</script>